div.carousel-inner {
    min-height: 550px;
}

li.lowPriority{
    color: cyan;
}
li.normalPriority{
    color: black;
}
li.urgentPriority{
    color: orange;
}
li.immediatePriority{
    color: red;
}
#progress{
    -webkit-animation:myMove; 
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes myMove{
    from{width:100%;}
    to{width:0%;}
}
div.well{
    background-color: white;
    border: 1px solid #cc0000;
}
#navbar > .active > a{
    background-color: #cc0000;
    color: white;
}
#navbar > li > a{
    color: #cc0000;
    cursor: pointer;
}
blockquote > p > small{
    color: lightslategrey;
}
.well > blockquote{
    border-left: 5px solid #cb6464;
}
#clock{
    color: #cc0000;
}
strong{
    color: black;
}
#logoAntea{
    height: 8%;
}
