div.carousel-inner {
    max-height: 560px;
    overflow-y: hidden;
}
.lowPriority{
    background-color: lightblue;
}
.normalPriority{
    background-color: white;
}
.urgentPriority{
    background-color: #ffc861;
}
.immediatePriority{
    background-color: #ff5d5d;
}
#progress{
    -webkit-animation:myMove; 
    -webkit-animation-timing-function:linear;
    -o-animation:myMove; 
    -o-animation-timing-function:linear;
    -moz-animation:myMove; 
    -moz-animation-timing-function:linear;
}
@-webkit-keyframes myMove{
    from{width:100%;}
    to{width:0%;}
}
@-moz-keyframes myMove{
    from{width:100%;}
    to{width:0%;}
}
@-o-keyframes myMove{
    from{width:100%;}
    to{width:0%;}
}
div.well{
    background-color: white;
    border: 1px solid #cc0000;
}
#navbar > .active > a{
    background-color: #cc0000;
    color: white;
}
#navbar > li > a{
    color: #cc0000;
    cursor: pointer;
}
blockquote > p > small{
    color: lightslategrey;
}
.well blockquote{
    border-left: 5px solid #cb6464;
}
#clock{
    color: black;
}
strong{
    color: black;
}
#logoAntea{
    height: 8%;
}
#svnTable tr:nth-child(odd){
    background-color: #ffe8e8;
}